@media only screen and (min-width : 1024px){
    main{
        padding-top: var(--navHeight-desktop);
    }
    .mobileNavContainer, .mobileNavButton{
        display: none;
    }
    .navigation{
        position: fixed;
        top: 0;
        left: 0;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        height: var(--navHeight-desktop);
        width: 100%;
        padding: 0 var(--desktop-padding-x);
    }
    .navigation .left{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navigation .left img{
        height: var(--navHeight-desktop);
        transition: all .2s ease-in-out;
    }
    .navigation .left img:hover{
        transform: scale(1.1);
    }
    .navigation .middle ul{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        font-weight: 500;
    }
    .navigation .middle ul a:hover{
        color: var(--accent-color);
    }
    .navigation .right{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navigation .right a{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding: 10px 20px;
    
    }
    .navigation .right a img{
        height: 30px;
        margin-right: 15px;
    }
    .navigation .right a span p{
        text-align: center;
    }
    .navigation .right a span p.big{
        line-height: 20px;
    }
}