/**
*   ---- 'Inter', sans-serif;
*   ---- 'Oxanium', cursive;
**/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');

:root{
    --title-font: 'Oxanium', cursive;
    --title-weight: 600;
    --title-size: 1.8em;
    
    --secondaryTitle-size: 1.6em;

    --subTitle-size: 1.4em;

    --text-font: 'Oxanium', cursive;
    --text-weight: 400;
    --text-size: 1em;
    --smallText-size: .8em;
}